@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки */
/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("/sl-arrow_l.03750cf8.svg") 0 0/100% no-repeat;
  border: none;
}

.slider .slick-arrow.slick-next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("/sl-arrow_r.9f9f7f11.svg") 0 0/100% no-repeat;
  border: none;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  margin-top: 30px;
  width: 10px;
  height: 10px;
  background-color: #ff8a00;
  border: none;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #ff8a00;
}

.item-slider {
  padding: 0px 15px;
}

.item-slider img {
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.button-dark-theme {
  display: block;
  width: 120px;
  height: 46px;
  border-radius: 80px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1666666667;
  border: none;
  color: #ffc000;
  background-color: #fff7df;
}
@media screen and (min-width: 1200px) {
  .button-dark-theme {
    width: 160px;
    height: 56px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    margin-left: 30px;
  }
}

.button-light-theme {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 46px;
  border-radius: 80px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1666666667;
  border: none;
  color: #ffffff;
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
}
.button-light-theme:hover {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .button-light-theme {
    width: 160px;
    height: 56px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.title {
  margin-bottom: 40px;
  text-align: center;
  background: -webkit-linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.575;
}

.title-dark-theme {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 2.0833333333;
  color: #ffffff;
}

.title-item,
.main-cell-pupils {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.85;
  color: #5c5c5c;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 14px;
}

.description,
.cell-pupils {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #5c5c5c;
}

.description-works,
.description-stories,
.description-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7857142857;
  color: #5c5c5c;
  margin-bottom: 20px;
}

.header .list {
  display: flex;
  justify-content: center;
}
.header .item {
  background: -webkit-linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
}
.header .item:not(:last-child) {
  margin-right: 40px;
}

.section-hero {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
}
@media screen and (max-width: 767px) {
  .section-hero {
    padding-bottom: 0px;
  }
}
.section-hero .list {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .section-hero .button-dark-theme {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-hero .photo-hero {
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero .photo-hero {
    position: absolute;
    right: 15%;
    bottom: 0;
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .section-hero::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 362px;
    width: 220px;
    background-image: url(/hero.a6214c63.png);
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 1%;
    height: 362px;
    width: 426px;
    background-image: url(/hero-icon.0b0aa769.svg);
    background-repeat: no-repeat;
  }
}

.title-dark-theme {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 2.0833333333;
  color: #ffffff;
}
@media screen and (max-width: 479px) {
  .title-dark-theme {
    width: 200px;
  }
}
@media screen and (min-width: 480px) {
  .title-dark-theme {
    width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .title-dark-theme {
    font-weight: 900;
    font-size: 30px;
    line-height: 2;
    width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .title-dark-theme {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5909090909;
    width: 650px;
  }
}

.item-hero {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .item-hero {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
  }
}
@media screen and (min-width: 768px) {
  .item-hero {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8333333333;
  }
}

.section-goal {
  background-color: #fff7df;
}

.title-goal-effect {
  background: -webkit-linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.85;
}

.list-goal {
  display: flex;
  justify-content: space-around;
}

.item-goal {
  position: relative;
  width: 254px;
}
.item-goal::after {
  position: absolute;
  top: 10%;
  left: 45%;
  content: "";
  display: block;
  width: 80px;
  height: 82px;
  background-repeat: no-repeat;
}
.item-goal:nth-child(1)::after {
  background-image: url(/student.1dd1f08e.svg);
}
.item-goal:nth-child(2)::after {
  background-image: url(/teather.89d410ec.svg);
}
.item-goal:nth-child(3)::after {
  background-image: url(/family.5be7caf9.svg);
  fill: #5c5c5c;
}
.item-goal::before {
  content: "";
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
  margin: 0 auto;
}

.section-about {
  background-color: #fff7df;
}
.section-about .container {
  padding-left: 0;
}
.section-about .wrapper {
  position: relative;
}

.container-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-about {
  position: relative;
}

.img-background {
  position: absolute;
  top: 0%;
  left: 1%;
}

.wrapper-description-about {
  padding-left: 30px;
  padding-right: 30px;
}

.section-stories {
  height: 690px;
  background: linear-gradient(106.42deg, #ffc000 1.55%, #ff8a00 95.8%);
}
.section-stories .wrapper {
  align-items: center;
}
.section-stories .title-dark-theme {
  margin-top: 40px;
}
.section-stories .description-stories {
  margin-top: 60px;
  color: #ffffff;
}
.section-stories .button-dark-theme {
  margin-top: 100px;
}

.container-stories {
  position: relative;
}

.item-stories {
  position: absolute;
}
.item-stories:nth-child(1) {
  right: 470px;
  top: 120px;
}
.item-stories:nth-child(2) {
  right: 158px;
  top: -30px;
}
.item-stories:nth-child(3) {
  right: 352px;
  top: 370px;
}
.item-stories:nth-child(4) {
  right: 114px;
  top: 212px;
}
.item-stories:nth-child(5) {
  right: 154px;
  top: 400px;
}
.item-stories:nth-child(6) {
  right: 340px;
  top: 240px;
}

.img-stories {
  border: 2px solid #212121;
  border-radius: 5px;
}
.img-stories:hover {
  border: none;
  box-shadow: 0px 12px 35px #a07900;
}

.section-achivements {
  background-color: #ffffff;
}
.section-achivements .title-item {
  position: relative;
  font-weight: 400;
  padding-bottom: 10px;
}
.section-achivements .title-item:hover, .section-achivements .title-item:focus {
  font-weight: 900;
  cursor: pointer;
}
.section-achivements .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
  border-radius: 2px;
}

.list-achivements-btn {
  display: flex;
  flex-basis: calc 33.3333333333%;
  justify-content: center;
  padding-bottom: 50px;
}

.item-achivements-btn:not(:last-child) {
  margin-right: 100px;
}

.section-experience {
  background: linear-gradient(106.42deg, #ffc000 1.55%, #ff8a00 95.8%);
}
.section-experience .title-dark-theme {
  width: 100%;
  text-align: center;
}
.section-experience .description {
  color: #ffffff;
  text-align: left;
}

.list-experience {
  display: flex;
}

.title-item-experience {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  color: #ffffff;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 26px;
}

.item-experience {
  width: calc(100% / 5);
  position: relative;
}
.item-experience::after {
  position: absolute;
  top: 8%;
  left: 45%;
  content: "";
  display: block;
  width: 78px;
  height: 78px;
  background-repeat: no-repeat;
}
.item-experience:nth-child(1)::after {
  background-image: url(/pensil.2637bb62.svg);
}
.item-experience:nth-child(2)::after {
  background-image: url(/book.52ffefd9.svg);
}
.item-experience:nth-child(3)::after {
  background-image: url(/dandruff.fb4708d8.svg);
}
.item-experience:nth-child(4)::after {
  background-image: url(/globe.6cd10b4d.svg);
}
.item-experience:nth-child(5)::after {
  background-image: url(/nature.d46ab8ef.svg);
}
.item-experience::before {
  content: "";
  display: block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%), linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
  background-blend-mode: multiply;
  margin: 0 auto;
}

.item-experience:not(:last-child) {
  margin-right: 25px;
}

.section-pupils {
  background-color: #fff7df;
}
.section-pupils .button-light-theme {
  margin-top: 50px;
}

.table-pupils {
  width: 100%;
  border: 3px solid #efefef;
  border-radius: 10px;
}

.table-main-line-pupils {
  height: 72px;
  border: 1px solid #efefef;
  border-radius: 10px;
  background-color: #ffffff;
}

.table-line-pupils {
  height: 160px;
}
.table-line-pupils:hover .cell-pupils {
  background: #efefef;
}

.table-line-pupils:hover {
  background-color: brown;
}

.section-works {
  background-color: #ffffff;
}
.section-works .title {
  text-align: left;
}
.section-works .button-light-theme {
  margin-top: 50px;
}
.section-works .title-item {
  position: relative;
}
.section-works .title-item::after {
  content: "";
  position: absolute;
  display: block;
  top: 25%;
  background-image: url(/check.96225baa.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.container-works {
  display: flex;
  align-items: center;
}

.wrapper-cards-works {
  margin-left: 70px;
}

.list-works {
  display: flex;
}

.item-works {
  width: 300px;
  height: 550px;
  margin-left: 50px;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #efefef;
  border-radius: 5px;
  position: relative;
}
.item-works::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 274px;
  height: 68px;
  background-image: url(/rectangle.f5aaa1c9.svg);
  background-repeat: no-repeat;
}
.item-works:hover {
  border: none;
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
}

.title-works {
  margin-top: 40px;
  margin-bottom: 40px;
  background: -webkit-linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}

.section-footer {
  background-color: #212121;
}
.section-footer .description-footer {
  color: #fff7df;
}
.section-footer .description {
  color: #fff7df;
  text-align: left;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
  border-bottom: 2px solid #5c5c5c;
}

.wrapper-footer-social {
  width: 300px;
}

.item-footer:not(:last-child) {
  margin-bottom: 20px;
}

.link-footer {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #fff7df;
}

.img-footer {
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}

.item-footer-nav:not(:last-child) {
  margin-bottom: 5px;
}

.container-copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.container-copyright .description {
  color: #5c5c5c;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */