<!-- <section class="section section-achivements">
  <div class="container container-achivements">
    <h2 class="title">Нагороди та сертифікати</h2>
    <ul class="list list-achivements-btn">
      <li class="item item-achivements-btn ">
        <a class="link title-item current" href="">Все</a>
      </li>
      <li class="item item-achivements-btn">
        <a class="link title-item" href="">Нагороди</a>
      </li>
      <li class="item item-achivements-btn">
        <a class="link title-item" href="">Сертифікати</a>
      </li>
       </ul>
    <ul class="list list-achivements-portfolio">
      <div class="wrapper-achivements-award">
        <li class="item item-achivements-portfolio">
           <img class="img-achivements" src="./images/achivements/award1.jpg" alt="">
           <div class="overlay">
             <p class="overlay-description"></p>
           </div>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/award3.jpg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/award4.jpg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/award5.jpg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/award6.jpg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/award7.jpg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/award8.jpg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/award9.jpg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/award10.jpg" alt="">
        </li>
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/award2.jpg" alt="">
        </li>
      </div>
      <div class="wrapper-achivements-sertificate">
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/sertificate1.jpeg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/sertificate2.jpeg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/sertificate3.jpeg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/sertificate4.jpeg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/sertificate5.jpeg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/sertificate6.jpeg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/sertificate7.jpeg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/sertificate8.jpeg" alt="">
        </li>
        <li class="item item-achivements-portfolio">
          <img class="img-achivements" src="./images/achivements/sertificate9.jpg" alt="">
        </li>
      </div>
    </ul>
    <button class="button-light-theme">Дізнайся</button>
  </div>
</section> -->