<footer class="section section-footer">
<div class="container container-footer">
  <img class="img-logo" src="./images/favicon_io/android-chrome-192x192.png" alt="">
  <div class="wrapper-footer-social">
  <p class="description-footer">Запрошую Вас почерпнути більше інформації на наших ресурсах</p>
    <ul class="list list-footer-social">
      <li class="item item-footer">
        <a class="link link-footer" href="https://www.facebook.com/profile.php?id=100009847699000" lang="en">
          <img class="img-footer" src="./images/footer/facebook.svg" alt="" width="21" height="21">Facebook</a>
      </li>
      <li class="item item-footer">
        <a class="link link-footer" href="https://vseosvita.ua/">
          <img class="img-footer" src="./images/footer/eduation.jpg" alt="" width="21" height="21">Всеосвіта</a>
      </li>
      <li class="item item-footer">
        <a class="link link-footer" href="https://naurok.com.ua/">
          <img class="img-footer" src="./images/footer/lesson.jpg" alt="" width="21" height="21">На урок</a>
      </li> 
    </ul>
  </div>
  <div class="wrapper-footer-nav">
      <h3 class="description-footer">Розділи</h3>
      <ul class="list list-footer-nav">
        <li class="item item-footer-nav">
          <p class="description">Головна</p>
        </li>
        <li class="item item-footer-nav">
          <p class="description">Про мене</p>
        </li>
        <li class="item item-footer-nav">
          <p class="description">Для учнів</p>
        </li>
        <li class="item item-footer-nav">
          <p class="description">Для колег</p>
        </li>
        <li class="item item-footer-nav">
          <p class="description">Для батьків</p>
        </li>
        <li class="item item-footer-nav">
          <p class="description">Участь у конкурсах</p>
        </li>
        <li class="item item-footer-nav">
          <p class="description">Наші досягнення</p>
        </li>
        <li class="item item-footer-nav">
          <p class="description">Навчально-дослідницькі роботи</p>
        </li>
      </ul>
      </div>
      <div class="wrapper-footer-email">
      <p class="description-footer">Напишіть мені:</p> 
      <a class="address link link-footer" href="mailto:svetlana_3004@ukr.net" lang="en">svetlana_3004@ukr.net
      </a>
      </div>
  </div>
  <div class="container container-copyright">
    <p class="description">Даний сайт на стадії розробки</p>
    <p class="description">Сайт розробили Дмитро та Алла Дігтярьові | 2020</p>
  </div>
</footer>