<section class="section section-pupils">
  <div class="container container-pupils">
    <h2 class="title">Наші досягнення</h2>
    <table class="table-pupils">
      <tr class="table-main-line-pupils">
        <th class="main-cell-pupils">Прізвище ім'я</th>
        <th class="main-cell-pupils">Школа, клас</th>
        <th class="main-cell-pupils">Навчальний рік</th>
        <th class="main-cell-pupils">Предмет</th>
        <th class="main-cell-pupils">ІІ етап</th>
        <th class="main-cell-pupils">ІІІ етап</th>
      </tr>
      <tr class="table-line-pupils">
        <td class="cell-pupils">Яковенко Євген</td>
        <td class="cell-pupils">Охтирська ЗОШ І-ІІІ ст. №6, 
          <br>9 клас</td>
        <td class="cell-pupils">2006-2007</td>
        <td class="cell-pupils">Географія</td>
        <td class="cell-pupils">І</td>
        <td class="cell-pupils">ІІ</td>        
      </tr>
      <tr class="table-line-pupils">
        <td class="cell-pupils">Качмарик Микола</td>
        <td class="cell-pupils">Охтирська ЗОШ І-ІІІ ст. №6,
        <br>7 клас</td>
        <td class="cell-pupils">2006-2007</td>
        <td class="cell-pupils">Географія</td>
        <td class="cell-pupils">І</td>
        <td class="cell-pupils"></td>
      </tr>
      <tr class="table-line-pupils">
        <td class="cell-pupils">Качмарик Микола</td>
        <td class="cell-pupils">Охтирська ЗОШ І-ІІІ ст. №6,
        <br>9 клас</td>
        <td class="cell-pupils">2008-2009</td>
        <td class="cell-pupils">Географія</td>
        <td class="cell-pupils">ІІ</td>
        <td class="cell-pupils"></td>
      </tr>
      <!-- <tr class="table-line-pupils">
        <td class="cell-pupils">Безсмертна Олена</td>
        <td class="cell-pupils">Гімназія, м. Охтирка, 
          <br>10 клас</td>
        <td class="cell-pupils">2009-2010</td>
        <td class="cell-pupils">Економіка</td>
        <td class="cell-pupils">І</td>
        <td class="cell-pupils"></td>
      </tr>
      <tr class="table-line-pupils">
        <td class="cell-pupils">Черниш Аделіна</td>
        <td class="cell-pupils">Жовтневий НВК: ЗОШ І-ІІ ст. - ДНЗ, 
          <br>7 клас</td>
        <td class="cell-pupils">2011-2012</td>
        <td class="cell-pupils">Географія</td>
        <td class="cell-pupils">І</td>
        <td class="cell-pupils"></td>
      </tr>
      <tr class="table-line-pupils">
        <td class="cell-pupils">Черниш Аделіна</td>
        <td class="cell-pupils">Жовтневий НВК: ЗОШ І-ІІ ст. - ДНЗ,
        <br>8 клас</td>
        <td class="cell-pupils">2012-2013</td>
        <td class="cell-pupils">Географія</td>
        <td class="cell-pupils">І</td>
        <td class="cell-pupils">V</td>
      </tr>
      <tr class="table-line-pupils">
        <td class="cell-pupils">Черниш Аделіна</td>
        <td class="cell-pupils">Жовтневий НВК: ЗОШ І-ІІ ст. - ДНЗ,
        <br>9 клас</td>
        <td class="cell-pupils">2013-2014</td>
        <td class="cell-pupils">Географія</td>
        <td class="cell-pupils">І</td>
        <td class="cell-pupils">VІ</td>
      </tr>
      <tr class="table-line-pupils">
        <td class="cell-pupils">Запорожченко Сергій</td>
        <td class="cell-pupils">Жовтневий НВК: ЗОШ І-ІІ ст. - ДНЗ,
        <br>8 клас</td>
        <td class="cell-pupils">2015-2016</td>
        <td class="cell-pupils">Географія</td>
        <td class="cell-pupils">ІV</td>
        <td class="cell-pupils"></td>
      </tr>
      <tr class="table-line-pupils">
        <td class="cell-pupils">Кашлакова Софія</td>
        <td class="cell-pupils">Жовтневий НВК: ЗОШ І-ІІ ст. - ДНЗ,
        <br>3 клас</td>
        <td class="cell-pupils">2015-2016</td>
        <td class="cell-pupils">Українська мова</td>
        <td class="cell-pupils">VІІ</td>
        <td class="cell-pupils"></td>
      </tr> -->
    </table>
    <button class="button-light-theme">Показати більше</button>
  </div>
</section>