<section class="section section-stories">
  <div class="container container-stories">
    <div class="wrapper">
    <h2 class="title-dark-theme">Участь у конкурсах</h2>
    <p class="description-stories">Візьми промінь світла
      <br>І спрямуй його туди, де темрява...
      <br>Візьми усмішку
      <br>І подаруй її тому, хто так її потребує.
      <br>Візьми доброту
      <br>І яви її тому, хто сам не вміє віддавати.
      <br>Візьми віру
      <br>І давай кожному, хто не має її.
      <br>Візьми любов
      <br>І неси її всьому світу.
    </p>
    <button class="button-dark-theme">Детальніше</button>
    </div>
    <ul class="list list-stories">
      <li class="item item-stories"><img class="img-stories" src="./images/stories/foto1.jpg" width="282" alt="">
      </li>
      <li class="item item-stories"><img class="img-stories" src="./images/stories/foto2.jpg" width="282" alt="">
      </li>
      <li class="item item-stories"><img class="img-stories" src="./images/stories/foto3.jpg" width="280" alt="">
      </li>
      <li class="item item-stories"><img class="img-stories" src="./images/stories/foto4.jpg" width="200" alt="">
      </li>
      <li class="item item-stories"><img class="img-stories" src="./images/stories/foto5.jpg" width="158" alt="">
      </li>
      <li class="item item-stories"><img class="img-stories" src="./images/stories/foto6.jpg" width="102" alt="">
      </li>
      
    </ul>
  </div>
</section>