<section class="section section-works">
  <div class="container container-works">
    <div class="wrapper-description-works">
      <h2 class="title">Навчально-дослідницькі роботи</h2>
      <p class="description-works">
        Ми працю любимо, що в творчість перейшла,
        <br>І музику палку, що ніжно серце тисне.
        <br>У щастя людського два різних є крила:
        <br>Троянда і виноград, красиве і корисне.
      </p>
      <p class="description">М. Рильський</p>
      <button class="button-light-theme">Всі роботи</button>
    </div>
    <div class="wrapper-cards-works">
      <ul class="list list-works">
        <li class="item item-works">
          <p class="description">Назва роботи</p>
          <h3 class="title-works">Всеукраїнська еколого-краєзнавча експедиція</h3>
          <p class="description-works">"Пізнай свою країну"</p>
          <p class="title-item">ІІ місце</p>
        </li>
        <li class="item item-works">
          <p class="description">Назва роботи</p>
          <h3 class="title-works">Всеукраїнський конкурс краєзнавчого дослідження
            
          </h3>
          <p class="description-works">"Червонокнижні види Сумщини"</p>
          <p class="title-item">ІІ місце</p>
        </li>
      </ul>

    </div>  

  </div>
</section>