.section-about {
  background-color: $color-light-theme;

  .container {
    padding-left: 0;
  }

  .wrapper {
    position: relative;
  }
}

.container-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-about {
  position: relative;
}

.img-background {
  position: absolute;
  top: 0%;
  left: 1%;
}

.wrapper-description-about {
  // width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}
